<form class="{{cssClass}} item-sheet hitLocation-sheet flexcol" autocomplete="off">
  <div>
    Name:
    <input name="name" type="text" value="{{item.name}}" placeholder="Name" />

    rollRangeStart:
    <input type="number" name="system.rollRangeStart" value="{{system.rollRangeStart}}" />
    <br />
    rollRangeEnd:
    <input type="number" name="system.rollRangeEnd" value="{{system.rollRangeEnd}}" />
    <br />
    naturalArmor:
    <input type="number" name="system.naturalArmor" value="{{system.naturalArmor}}" />
    <br />
    baseHp:
    <input type="number" name="system.baseHp" value="{{system.baseHp}}" />
    <br />
    maxHp:
    <input type="number" name="system.maxHp" value="{{system.maxHp}}" />
    <br />
    currentHp:
    <input type="number" name="system.currentHp" value="{{system.currentHp}}" />
    <br />
    maxHpMod:
    <input type="number" name="system.maxHpMod" value="{{system.maxHpMod}}" />
  </div>
</form>